{{outlet}}
<h2>Index</h2>

{{#if session.isAuthenticated}}
  <p> Welcome, {{session.user.username}} {{session.username}}</p>
  <a href="#" {{ action 'invalidateSession' }}>Logout</a>
{{#link-to 'protected'}}Protected Route{{/link-to}}
{{else}}
  {{login-panel}}
{{/if}}
